@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* body{
    min-height: 100%;
    background: #e3f2fd;
} */
nav{
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #255D83;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
    margin-bottom: 10px;
}
/* .logo .menu-icon{
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
} */
.logo .logo-name{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    padding: 0 20px;
}
nav .sidebar{
    position: fixed;
    top: 0;
    /* left: -100%; */
    left: 0;
    height: 100%;
    width: 230px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    border-radius: 20px;
}
/* nav.open .sidebar{
    left: 0;
} */
.sidebar .sidebar-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    margin-right: 14px;
}
.sidebar-content .list{
    list-style: none;
}
.list .nav-link{
    display: flex;
    align-items: center;
    margin: 8px -20px;
    padding: 14px 12px;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
}
/* .lists .nav-link:hover{
    background-color: #255D83;
} */
.nav-link:hover{
    background-color: #255D83;
}
.nav-link .icon{
    margin-right: 14px;
    font-size: 20px;
    color: #333;
}
.nav-link .link{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Styles for the text */
.link {
    vertical-align: middle; /* Align text vertically with the icon */
}
/* .lists .nav-link:hover .icon,
.lists .nav-link:hover .link{
    color: #fff;
} */
.nav-link:hover .icon,
.nav-link:hover .link{
    color: #fff;
}

.nav-link .icon-logout{
    color: red;
    margin-right: 14px;
    font-size: 20px;
}
.nav-link .link-logout{
    font-size: 16px;
    color: red;
    font-weight: 400;
}
/* .lists .nav-link:hover .icon-logout,
.lists .nav-link:hover .link-logout{
    color: #fff;
} */
.nav-link:hover .icon-logout,
.nav-link:hover .link-logout{
    color: #fff;
}
/* .overlay{
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay{
    opacity: 1;
    left: 260px;
    pointer-events: auto;
} */

/* Style for navbar brand */
.navbar-brand {
    width: 100%;
    position: relative;
    justify-content: space-between;
    font-weight: 500;
    text-align: start;
    margin-left: 300px;
    padding: 0 0;
    font-size: large;
  }
  
  /* Style for form */
  /* .form-inline {
    display: flex;
    align-items: center;
  } */
  
  /* Style for form input
  .form-inline .form-control {
    width: auto;
    min-width: 0;
    padding-right: -100px;
    margin-left: 500px;
    font-size: 15px;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 200px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } */
  
.navsearch{
    margin-left: 260px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
.search{
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
/* .search_box input{
    border-radius: 15px;
} */

.navsearch ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
.navsearch ol li{
    margin: 0 2px;
}
.navsearch ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.navsearch ol li:hover a{
    color: #333;
}
.navsearch .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}
.navsearch .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    width: 300px;
    border-radius: 20px;
    opacity: 0.5;
}
@media screen and (max-width: 1250px){
    nav{
        display: inline-block;
        padding: 0;
    }
}
/* section{
    background: url(image2.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
} */

/* .navsearch .search_box span{
    color: #255D83;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navsearch .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: red;
    position: absolute;
    top: 0;
    z-index: -1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} 
.navsearch .search_box span:hover:after{
    width: 100%;
} */